.home-container-1 {
    min-height: 100vh;
    max-width: 1250px; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0% auto;
}

.home-container-2 {
    width: calc(100% - 164px);
    padding: 24px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .home-container-1 {
        flex-direction: column;
    }

    .home-container-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
